/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require select2
 *= require twitter/bootstrap
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Abel|News+Cycle|Armata|Gudea);

$main_font: 'Abel', sans-serif;

/* "Helvetica Neue", Helvetica, Arial, sans-serif; */
/* font-family: 'Abel', sans-serif; */
/* font-family: 'News Cycle', sans-serif; */
/* font-family: 'Armata', sans-serif; */
/* font-family: 'Gudea', sans-serif; */

$main_title_font_size: 48px;
$huge_font_size: 32px;
$big_font_size: 24px;
$regular_font_size: 20px;

$darkest_grey: #3b3b3b;
$dark_grey: #3d3d3d;


body {
  margin: 0 5% 5% 5%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:24px;
  line-height:32px;
  color:#3d3d3d;
}

$title_color: #3b3b3b;

.main-title {
  h1 {
    color: $title_color;
  }
}

#auth-container {
  width:100%;
  text-align: right;
}

#search_link {
  width:100%;
  text-align: right;
}
