/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require select2
 *= require twitter/bootstrap
 *= require_self
 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Abel|News+Cycle|Armata|Gudea);

$main_font: 'Abel', sans-serif;

/* "Helvetica Neue", Helvetica, Arial, sans-serif; */
/* font-family: 'Abel', sans-serif; */
/* font-family: 'News Cycle', sans-serif; */
/* font-family: 'Armata', sans-serif; */
/* font-family: 'Gudea', sans-serif; */

$main_title_font_size: 48px;
$huge_font_size: 32px;
$big_font_size: 24px;
$regular_font_size: 20px;

$darkest_grey: #3b3b3b;
$dark_grey: #3d3d3d;


body {
  margin: 0 3% 3% 3%;
  text-align: center;
}

#main-container {
  text-align: left;
  max-width: 968px;
  margin: auto;
  font-family: $main_font;
  font-size: $big_font_size;
  line-height: $huge_font_size;
  color: $dark_grey;
}

.header {
  width: 100%; 

  .title {
    float: left;

    a {
      text-decoration: none;

      h1 {
        font-size: $main_title_font_size;
        color: $darkest_grey;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  .search {
    padding-top: 15px;
    float: right;
  }
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}
