// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$article_spacer_height: 15px;
$article_title_color: #4183c4;
$article_title_color_light: #3c3c3c;

.article-container {
  border: {
    bottom: solid 1px #3c3c3c;
  }

  padding: {
    left: 2%;
    right: 2%;
    bottom: 10px;
  }
}

.article-title {
  font-weight: bold;
  font-size: x-large;

  color: $article_title_color;

  padding: {
    bottom: 8px;
  }

  a {
    color: $article_title_color;

    &:active {
      color: $article_title_color;
      background-color: #ffffff;
    }

    &:visited {
      color: $article_title_color;
      background-color: #ffffff;
    }

    &:hover {
      color: $article_title_color;
      background-color: #ffffff;
    }
  }
}

.article-create-date {
  color: $article_title_color_light;
  font-size: smaller;
}

.article-body {
  padding: {
    top: 5px;
    bottom: 8px
  };
}

.article-tags {
  font-size: small;
}

.article-permalink {
  font-size: small;
}

.admin-article {
  font-size: small;
}

.article-spacer {
  width:100%;
  height: $article_spacer_height;
}