<!DOCTYPE html>
<html>
<head>
  <title>Furioustypist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='main-title'>
  <h1>Furious Typist</h1>
</div>

<%= yield %>

</body>
</html>